@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --gradient: linear-gradient(135deg, #3800af 0%, #bf7204 97.52%, #c27500 100%, #c27500 100%);
    --orange: #f18128;
    --darkblue: #040d1f;
    --footerBg: linear-gradient(90deg, #ff8c30 0%, #9f4700 100%); 
    --Montserrat: 'Montserrat'; 
    --Roboto: 'Roboto'; 
    --Comfortaa: 'Comfortaa'; 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: var(--Comfortaa);
    font-weight: 700;
}
.header__banner{
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: white;
    font-weight: 400;
    padding: 20px 0;
}
.header__banner i{
    font-size: 45px;
}
.header__nav .container{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%; 
    padding: 0 15px;
}
.header__nav-list{
    display: flex;
    gap: 30px;
}
.header__nav-list a{
    color: white;
    font-size: 14px;
    text-align: right;
    font-family: var(--Montserrat);
    font-weight: 400;
    transition: 400ms;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header__nav-list a:hover{
    color: var(--orange);
}
.header__nav-list a::after{
    content: '';
    width: 115%;
    height: 2px;
    display: block;
    background: var(--orange);
    border-radius: 10px 10px 0 0;
   
    transition: .3s;
    opacity: 0;
}
.header__nav{
    background-color: black;
    padding: 29px 0;
}
.header__nav-list a:hover::after{
    transform: translateY(43px);
    opacity: 1;
}

.header__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url(../img/headerbg.jpg), #070f19ba ;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}
.header__content h1{
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    font-family: var(--Montserrat);
}
.header__content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: #c8c8c8;
    font-family: var(--Montserrat);
    margin: 30px 0 50px;
    max-width: 570px;
}
.header__content-btns{
    display: flex;
    gap: 30px;
}

.burger{
    display: none;
    visibility: hidden;
}
.btn{
    display: block;
    padding: 17px 48px;
    background: var(--darkblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 75%;
    text-align: justify;
    color: #fff;
    font-family: var(--Roboto);
    transition: .5s;
}
.btn:hover{
    color: #040d1f; 
    background: var(--orange);
}
.main-title{
    color: var(--orange);
    font-weight: 400;
    font-size: 36px;
    text-transform: capitalize;
    border-bottom: 2px solid var(--orange);
    width: max-content;
    margin: 61px 0 54px;
}
body{
    background: var(--darkblue);
}
.films__content-card{
    color: #fff;
    width: 255px;
    background: url(../img/films1.png),  linear-gradient(180deg, #f182287b 0%, #00000071 51.04%, #070f1981 100%);
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 6px;
    padding: 54px 14px 18px;
}
.films__content-card i{
    font-size: 40px;
}
.films__content-card span{
    border: 1px solid #fff;
    border-radius: 9px;
    padding: 7px 28px;
    background: rgba(7, 15, 25, 0.2);
    display: block;
    margin: 12px 0 30px;
    font-size: 14px;
    font-family: var(--Montserrat);
    width: max-content;
    font-weight: 400;
}
.films__content-card h3{
    font-size: 22px;
text-align: center;
font-family: var(--Montserrat);
font-weight: 400;
margin-bottom: 12px;
}
.films__content-card p{
    font-weight: 400;
font-size: 14px;
line-height: 150%;
font-family: var(--Roboto);
}
.films__content{
    display: flex;
    gap: 40px;
    margin-bottom: 78px;
}
.films__content-card:nth-of-type(2){
    background: url(../img/films2.png),  linear-gradient(180deg, #f182287b 0%, #00000071 51.04%, #070f1981 100%);
    background-blend-mode: soft-light;
    background-size: cover;
}
.films__content-card:nth-of-type(3){
    background: url(../img/films3.png),  linear-gradient(180deg, #f182287b 0%, #00000071 51.04%, #070f1981 100%);
    background-blend-mode: soft-light;
    background-size: cover;
}
.films__content-card:nth-of-type(4){
    background: url(../img/films4.png),  linear-gradient(180deg, #f182287b 0%, #00000071 51.04%, #070f1981 100%);
    background-blend-mode: soft-light;
    background-size: cover;
}